.container {
  padding-bottom: 2rem;
}

.miniNav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  padding-bottom: 2rem;
}

.mininav-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 8%;
  padding: 0.5rem 1rem;
  background-color: #fff;
  border: 1px solid #b4b4b4;
  border-radius: 8px;
}

.btn-text {
  font-size: 1rem;
  color: #333;
}

.settings {
  display: inline-block;
  width: 1.5rem;
}

@media (max-width: 54em) {
  .mininav-btn {
    width: 4%;
    justify-content: center;
  }

  .btn-text {
    display: none;
  }
}

@media (max-width: 35em) {
  .mininav-btn {
    border: none;
  }
}

@media (max-width: 22em) {
  .miniNav {
    display: none;
  }
}
